.hero {
  background: linear-gradient(
    to bottom right,
    #8266c4 0%,
    rgba(217, 97, 81, 0.5) 70.75%
  );
  color: #fff;
}

.hero a {
  color: #fff;
}

.heroTitle {
  margin: 0;
  padding: 0;
  font-size: 64px;
}

.heroSubtitle {
  font-size: 20px;
  line-height: 1.2;
}

.logo {
  max-width: 150px;
  height: auto;
  align-self: center;
}

@media (max-width: 1000px) {
  .logo {
    max-width: 100px;
  }
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }
}

.code {
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 20px 30px -10px #d96151;
}

:global([data-theme="dark"]) .code {
  box-shadow: 0 20px 30px -10px #572720;
}

.codeBlock {
  margin-bottom: 0 !important;
}

@media (max-width: 1000px) {
  .code {
    padding: 30px 10px 0;
  }
}

.separator {
  display: inline-block;
  width: 10px;
  height: 10px;
}

@media (max-width: 1200px) {
  .separator {
    display: block;
  }
}
